*{
    a{
        text-decoration: none;
        color: #666;
        transition: all 0.4s ease-in-out 0s;     
        
    }
    a:hover{
        text-decoration: none;
        color: #51AA1B;
        transition: all 0.4s ease-in-out 0s;   
    }
}
body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-weight: 400;
    color: #272727;
    letter-spacing: 0.4px;
    font-size: 14px;
    line-height: 20px;
    background-color: #f8f8f8;
    ul{
        list-style: none;
        margin: 0;
    }
    
    
}
h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
}
.pro-bg{
    background-color: #fff;
    box-shadow: -1px 0px 10px 0px #ececec;

    float: left;
    width: 100%;
    margin-bottom: 30px;
   
}

/*-------NAV--------- */
nav{  
    .socials-block ul li:first-child a {
        border-left: 1px solid #e5e5e5;
    }

    .toogle-category{
        display: none;
    }
    .socials-block{
        ul{
            li{
                list-style: none;
                display: inline-block;      
                a{
                    display: block;
                    width: 36px;
                    padding-top: 9px;
                    text-align: center;
                    border-right: 1px solid #e5e5e5;
                    height: 31px;
                    color: #666;
                }
            }
        }
    }
    .top-link li:first-child  {
        border-left: 1px solid #e5e5e5;
    }
    .hidden-icon{
        display: none;
    }
    .top-link{
        li{
            cursor: pointer;
            display: inline-block;
            padding: 9px 10px;
            position: relative;
            text-align: center;
            border-right: 1px solid #e5e5e5;
            height: 30px;
            color: #666;
            i{
                margin: 0 5px;
            }
            .dropdown-menu-account,.dropdown-menu-currency,.dropdown-menu-language{
                display: inline-block;
                min-width: 120px;
                width: 120px;
                position: absolute;
                left: -10px;
                z-index: 1000;
                display: none;
                padding: 5px 0;
                margin: 2px 0 0;
                font-size: 14px;
                background-clip: padding-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                li{
                    width: 100%;
                    text-align: left;
                    border: none;
                        img{
                            margin-right: 5px;
                        }
                  
                }
                
            }
        }
    }
}
/*-------END NAV--------- */
/*-------HEADER--------- */
header{
    .form-search{
        margin-top: 4px;
       
    }
    .contact{
        position: relative;
        img{
            position: absolute;
            left: -20px;
            top: 4px;
        }
    }
    .cart-info{
        color: #666;
    }
    
    img{
        vertical-align: middle;
    }
    padding: 15px 0;
    .search-container{
        .form-search{
            width: 100%;
            position: relative;
            .select-categories{
                float: left;
                width: 150px;
                border-radius: 5px 0 0 5px;
                border: 1px solid #eee;
                height: 40px;
                padding: 10px; 
                background-position: right 10px bottom 20px;
              
                :hover{
                    cursor: pointer;
                }
            }
            .form-control{
                width: 400px;
            }
            button{
                position: relative;
                right: 22px;  
                background-color: #51AA1B;
                color: #fff;
                border-color: #51AA1B;
        
            }

        }
       
    }
    .contact,.cart {
        float: left;
        width: 100%;
        .contact-info{
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            margin-left: 7px;
            color: #666;
        }  
    } 
    .cart{
        img{
            position: absolute;
            right: 75px;
        }           
    }
    .contact{
        img{
            position: absolute;
            left: 25px;
        }           
    }
}
/*-------END HEADER--------- */
.allmenu{
    background-color: #51AA1B;
    .list-menu{
        padding: 20px ;
        .items-menu{
            li{
                padding: 0 20px;
                cursor: pointer;
                color: #eee;
                // font-weight: 600;
                
            }
            :hover{
                color: #FFD200;
            }
        }
    }
}
/*-------MAIN--------- */
main{
    .left-side{
        margin-top: 30px;
        &__categories{
            float: left;
            width: 100%;
            .toggle-menu{
                background-color: #51AA1B;
                padding: 15px;    
                color: #fff;
                cursor: pointer;
        
            }
            .list-categories{
                a{
                    color: #222;
                    text-decoration: none;
                }
                border: 1px solid #e5e5e5;
                padding-right: 20px;
                ul{
                    li{
                        border-bottom: 1px solid #e5e5e5;
                        border-collapse: collapse;
                        padding: 10px;
                        color: #222;
                    }
                }
            }
        } 
        &__hotdeals .product-layout:last-child,&__topdeal .product-layout:last-child{
            margin-bottom: 15px;
        }
        &__hotdeal,&__hotdeals,&__topdeal,&__newsletter{       
            .title{
                position: relative;
                //padding: 0 30px;
                cursor: pointer;
                margin: 20px;
                border-bottom: 1px solid #ececec;
                padding-bottom: 10px;
                .owl-button{
                    position: absolute;
                    right: 0;
                        .owl-prev , .owl-next{
                            margin: 5px;
                            // padding: 5px 10px;
                            background-color: #869791;
                            border-radius: 5px;
                            opacity: 0.5;
                            a{
                                color: #fff;
                                i{
                                    padding: 7px 10px;
                                }
                            }
                        }
                        :hover{
                            background-color: #51AA1B;
                            opacity: 1;
                            transition: 0.5s;
                            border-radius: 5px;
                        }
                }
               
            }
            .hotdeal-products  {
                position: relative;
                padding: 0 20px;
                img{
                    height: 100%;
                    object-fit: cover;
                    border: 1px solid #e5e5e5;

                }
            }
            .hotdeals-content{ 
                .product-layout{
                    padding: 0 20px 10px 20px;
                    .image{
                        margin-right: 10px;
                        img{
                            width: 90px;
                            height: 100px;
                            // object-fit: cover;
                            border: 1px solid #e5e5e5;
                        }
                    }
                    .caption{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        .price{
                            margin: 0;
                            color: #222;
                            font-size: 14px;
                            min-height: 21px;
                            font-weight: 700;
                            letter-spacing: 0;
                        }
                    }
                }
            }
            .newsletter-content{
                padding: 0 20px;
                .frm{
                    input{
                        background-color: #e5e5e5;
                    }
                }
                .btn-submit{
                    button{
                        background-color: #51AA1B;
                        border-color: #51AA1B;
                        text-transform: uppercase;
                        color: #fff;
                        
                    }
                    :hover{
                        background-color: #1F1E1E;
                        border: #1F1E1E;
                        color: #fff;
                        transition: all .5S ease-in-out;
                    }
                }
                
            }
            .hover-img{
                position: absolute;
                top: 0;
                margin: 0 20px;
                left: 0;
                opacity: 0;
                width: 264px;
                transition: all 410ms ease-in-out;

                
            }          
            .button-group{
                position: absolute;
                left: 90px;
                top: 210px;
                opacity: 0;
               
                button{
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: #51aa1b;
                    border-radius: 50%;
                    fill: #fff;
                    transition: all 410ms ease-in-out; 
                    transition-duration: 5s;
                    color: #fff;
                    img{
                        border: none;
                        color: #fff;
                        object-fit: contain;
                    }
                }
            } 
        }
        &__hotdeal:hover .hover-img,&__hotdeal:hover .button-group{
            opacity: 1;
            transition: all 410ms ease-in-out;        
        }
        &__supplier{
            padding: 20px;
            .img{
                text-align: center;
                img{
                    border-radius: 50%;
                }
            }
            .supplier-content{
                text-align: center;
                h1{
                    font-size: 20px;
                    font-weight: normal;
                    letter-spacing: 1px;
                    margin-top: 15px;
                    text-transform: capitalize;
                    color: #51aa1b;
                }
                p{
                    padding: 0 3px;
                    color: #9A9A9A;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 1px;
                }
            }
        }
        &__banner-left{
            img{
                width: 100%;
                object-fit: cover;
            }
            
        }
    }
    .right-side{
        margin-top: 30px;
        &__slideshow , &__banner{
            margin-bottom:30px;
        }   
        .mySwiperSlideShow{
            img{
                width: 100%;
                height: auto;
                max-height: 460px;
            }
        }
        
        &__category-tab ,&__featured-tab,&__specials-tab,&__blog,&__latest-tab  {      
            padding: 20px;   
            .header{
                padding-bottom: 20px;
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: 20px;
                h2{
                    flex: 3;
                }
                nav{
                    flex:7;
                    .nav-cate{
                        line-height: 42px;
                        li{
                            a{
                                text-decoration: none;
                                padding: 0 20px;
                                
                            }
                        }
                        :hover{
                           color: #51aa1b;
                           transition: 0.5s
                        }
                    }
                }
                .owl-button{
                    flex: 0;
                    cursor: pointer;
                    .owl-prev , .owl-next{
                        border-radius: 5px ;
                        margin: 5px;
                        padding: 5px 10px;
                        background-color: #869791;
                        
                        opacity: 0.5;
                        a{
                            vertical-align: middle;
                            color: #fff;
                        }
                    }
                    :hover{
                        background-color: #51AA1B;
                        transition: 0.5s;
                        opacity: 1;
                        border-radius: 5px;
                    }
                   
                }
            }    
            .content{
                .card{
                    margin: 0 5px;
                    .lbl-discount{
                        span{
                            position: absolute;
                            left: 10px;
                            font-size: 9px;
                            font-weight: 700;
                            line-height: 21px;
                            width: 60px;
                            text-transform: uppercase;
                            top: 10px;
                            z-index: 100;
                            color: #fff;
                            right: 10px;
                            text-align: center;
                            background-color: #ff7878;
                            letter-spacing: 1px;
                        }
                    }
                    .button-group{
                        position: absolute;
                        left: 70px;
                        top: 200px;
                        opacity: 0;
                       
                        button{
                            width: 40px;
                            height: 40px;
                            border: none;
                            background-color: #51aa1b;
                            border-radius: 50%;
                            fill: #fff;
                            transition: all 300ms ease-in-out;
                            color: #fff;
                            img{
                                border: none;
                                color: #fff;
                            }
                        }
                    }      
                    .input-group{
                        float: left;
                        width: 100%;
                        .lable-qty{
                            margin: 5px 5px 0 0;
                        }
                        .input-qty{
                            position: relative;
                            width: 44px;
                            min-width: 44px;
                            display: inline-block;
                            float: none;
                            padding: 0 5px;
                            border:1px solid #e5e5e5;  
                            margin-right: 15px;
                            line-height: 30px;
                        }
                        .btn-addcart{
                            border:1px solid #e5e5e5;
                            background-color: #fff;   
                            padding: 0px 20px;
                                              
                        }          
                    }
                }
                .card:first-child {               
                    margin-left: 15px;
                }
                .card:last-child {               
                    margin-right: 15px;
                }
                img{
                    border: 1px solid #e5e5e5;
                    background-color: transparent;
                    position: relative;
                    
                }
                .hover-img{
                    top: 0;
                    left: 0;
                    margin: 0 auto;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    transition: all 400ms ease-in-out 0s;                  
                }
                img:hover {
                    opacity: 1;
                }
                .card:hover .button-group{
                    opacity: 1;       
                    transition: all 400ms ease-in-out 0s;                  
                }
                .card:hover .btn-addcart{
                    background-color: #51AA1B;
                    transition: all 400ms ease-in-out 0s;                        
                }
               
            }

        }   
        &__specials-tab{
            .content{
                .product-layout{
                   width: 100%;
                   margin-bottom: 10px;
                    .image{
                        margin-right: 10px;
                        img{
                            width: 90px;
                            height: 90px;
                            object-fit: cover;
                            border: 1px solid #e5e5e5;
                            
                        }
                       
                    }
                    .caption{
                        padding: 0 10px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        .price{
                            margin: 0; 
                            
                             
                        }
                        
                        h5{
                            :hover{
                                color: #51AA1B;
                                text-decoration: none;
                            }
                        }
                        
                    }
                }
            }
        }
        &__blog{
            h4{              
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #212121;
                cursor: pointer;
            }
            .card-body{
                padding: 30px 0 0 0;
                .blog-desc{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .btn-readmore{
                    background-color: #51AA1B;
                    border-color: #51AA1B;
                    color: #fff;
                   
                }
                .btn-readmore:hover{
                    background-color: #333;
                    border-color: #333;
                    color: #fff;
                }
                
            }
        }
        &__latest-tab{
            .card-img-top{
                cursor: pointer;    
            }
           
        }
    }
    .logo-slider{
        background-color: #fff;
   
        .logo-item{
            img{
                opacity: 0.7;
            }
            
        }
        .logo-item img:hover{
            opacity: 1;
        }
    }
   
}




/*-------END MAIN--------- */

/*-------FOOTER--------- */
footer{
    background-color: #272727;
    color: #ccc;
    .footer{
        width: 100%;
        height: auto;
        padding: 40px 0 ;
        .aboutf{  
            h5{
                font-size: 16px;      
                text-transform: uppercase;
                color: #51AA1B;
                letter-spacing: 1px;
                margin-bottom: 20px;
                font-weight: bold;          
            }
            .listf{
                
                padding: 0;
                li{
                    i{
                        color: #51AA1B;
                    }
                    a{
                        color: #ccc;
                        line-height: 28px;
                        letter-spacing: 0.5px;
                        
                    }
                    
                }
                :hover{
                    color: #51AA1B;
                    text-decoration: none;
                }
            }
        }
    }
    .footer-power{
        width: 100%;
        height: auto;
        padding: 30px 0;
        background-color: #1F1E1E;
        .copy-right{
            padding: 0 30px;
            line-height: 25px;
            :hover{
                color: #51AA1B;
                text-decoration: none;
            }
            a{
                color: #ccc;
               
            }
            .pull-right{
                
                float: right;
                :hover{
                    color: #51AA1B;
                    
                }
            }
            .foot-payment{
                li{
                    font-size: 25px;
                    margin: 0px;
                    padding: 0 10px;
                    a{
                        color: #ccc;
                        line-height: 28px;
                        letter-spacing: 0.5px;
                    }
                }

            }
        }
    }
}
/*-------END FOOTER--------- */

/*-------SCROLL-------- */
#scroll{
    background-color: #51aa1b;
    border: 5px solid #51aa1b;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    outline: none;
    z-index: 1;
    border-radius: 100%;
    line-height: 28px;
    text-align: center;
    transition: all 500ms ease-in-out 0s;
    color: #fff;
}



//reponsive

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    nav{
        
        .header-social{          
            .socials-block{
                .toogle-category{
                    display: block;
                    position: absolute;
                    top: 10px;
                    font-size: 17px;
                }
                ul{
                    display: none;
                }
            }
        }
        .hidden-xs{
            display: none !important;
        }
        .top-link{
            li{
                
                a{
                    .hidden-icon{
                        display: inherit;
                    }
                }
                .dropdown-menu{
                    left: -70px;
                }
            }
        }
        
    }
    header{
        .search-by-category{
            margin-top: 10px;
            .form-search
            {
                .form-control {
                    width: 460px;
                }
                .select-categories{
                    display: none;
                }
            }
        }     
        .sm-cart{
            position: absolute;
            right: 70px;
        }
        .contact{
            img{
                left: 10px;
            }
        }
        
    }
    .allmenu{
        display: none;
    }
    main{
        .left-side{
            display: none;      
        }
        .right-side{
           &__category-tab{
               .content{
                display: inline-block;
                word-break: break-word;
               }
           }
        }
        
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    header{
        .select-categories{
            display: none;
        }       
        .form-search{
            input{
                width: 250px !important;
            }
            button{
                position: absolute !important;
                right: 18px !important;
            }
        }
        .contact{
            img{
                left: -20px !important;
            }
        }
    }
    main{
        .left-side{
            .title{
                .owl-button{
                    .owl-next ,.owl-prev{
                        border-radius: 5px ;
                        margin: 5px 3px;
                       a{
                           i{
                            padding: 7px 8px;
                           }
                       }
                    }
                }
            }
            .hotdeals-content{
                padding: 0 20px;
                .product-layout{
                    padding: 0 0 10px 0;
                    .image{
                        img{
                            width: 65px;
                            height: auto;
                           
                        }
                    }
                    .caption{     
                        h5{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 100px;
                        }
                    }
                }
                .product-layout:last-child{
                    margin-bottom: 10px;
                }
            }      
        }
        .right-side{
            &__specials-tab .content .product-layout .image img {
                width: 70px;
                height: auto;
                
            }
            &__banner{
               
            }       
            &__category-tab,&__latest-tab,&__featured-tab{
                overflow: hidden;
            }
            &__category-tab{
                
                .header{
                    position: relative;
                    nav{
                        .nav-cate{
                            li{
                                a{
                                    padding: 0 5px;
                                }
                            }
                        }
                    }
                    .owl-button{
                        position: absolute;
                        right: 0px;
                    }
                }
               
            }
            
            .card-deck{
                display: inline-block;
                float: left;
                width: 2000px;
                overflow: hidden;
                text-overflow: ellipsis;
                .card {
                    float: left;
                    width: 200px;
                    .button-group{
                        left: 63px;
                        top: 170px;
                    }
                }
            }
               
        }

        }
        .logo-slider{
            overflow: hidden;
        }
        
        
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    nav{
        .top-link{
            .coupon{
                display: none;}
        }       
    }
    header{
        .contact{
            position: relative;
            a{      
                img{
                    position: absolute;
                    left: -10px;
                }
                .contact-info {
                    position: absolute;
                    left: 25px;
                }
            }
        }
        .form-control{
            width: 250px !important;
        }
    }
    main{
        .left-side{
            .title{
                .owl-button{
                    .owl-next ,.owl-prev{
                        
                    }
                }
            }
            .hotdeals-content{
                .product-layout{
                    width: 100%;
                    // padding: 0 0px 10px 0px;
                 
                    .image{
                        img{
                            width: 70px;
                            height: 100%;
                        }
                    }
                    .caption{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                        
                    }
                }
            }      
        }
        .right-side{
            &__banner{
                img:hover{
                    transform: scale(0.8);
                    transition: all 1s;
                }
            }          
            .header{
               
                h2{
                    flex: 3;
                }
                nav{
                    flex:7;
                    .nav-cate{
                        li{
                            a{
                                padding: 0 5px;
                            }
                        }
                    }
                }
                .owl-button{
                   
                    .owl-prev , .owl-next{
                        height: 30px;
                        a{
                            
                        }
                    }
                    :hover{
                       
                    }
                   
                }
            }
            // .btn-addcart{
                
            // } 
            &__category-tab,&__latest-tab,&__featured-tab{
                overflow: hidden;
                .card-deck{
                    display: inline-block;
                    float: left;
                    width: 2000px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .card {
                        float: left;
                        width: 185px;
                    }
    
                }
            }
            &__category-tab{
                
                .header{
                    position: relative;
                    nav{
                        .nav-cate{
                            li{
                                a{
                                    padding: 0 5px;
                                }
                            }
                        }
                    }
                    .owl-button{
                        
                    }
                }
               
            }
            &__specials-tab{
                .product-layout{
                    img{
                        width: 70px;
                        height: auto;
                    }
                }
            }
           
           
        }
        .logo-slider{
            overflow: hidden;
            text-overflow: clip;
        }
        
        
    }
  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }


